#img1{
	border: 2px solid #a1a1a1;
	position : absolute;
	left : 100px;
	right : 100px;
	height : 80%;
}

#inputfile {
	position : absolute;
	bottom : 5%;
	left : 40%;
}

img {
	height : 100%;
	width : 100%;
}
